img{
    width: 200px;
    height: 200px;
}
header h1{
    border: 10px;
    border-radius: 20px;
   }
main{
       background-color: khaki;
   }

header{
      background-color: rgb(101, 241, 188)
   }
.pon1{
       display: flex;
       justify-content: center;
   }
.info{
    display: flex;
    justify-content: center;
}
.produkt1{
    display: flex;
    justify-content: center;
}
.produkt2{
    display: flex;
    justify-content: center;
}
main a{
    text-decoration: none;
    border: 2px solid blue;
    border-radius: 3px;
    background-color: aqua;
    padding: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pon2{
    border: 3px dotted blue;
    margin-right: 5px;
    margin-bottom: 5px;
}

